##########################################################
#### magento post deployment                          ####
#### commands that run after the files have deployed  ####
##########################################################
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
