##############################################
#### Magento logs                        ####
##############################################
files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/magento.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/var/log/*.log
