##############################################
#### Magento default env options          ####
##############################################

option_settings:
  - option_name:  DB_HOST
    value: dbhost
  - option_name:  DB_USER
    value: dbuser
  - option_name:  DB_PASS
    value: dbpass
  - option_name:  DB_NAME
    value: dbname
  - option_name:  DB_PORT
    value: 3306
  - option_name:  S3_BUCKET
    value: s3-bucket
  - option_name:  S3_REGION
    value: s3-region
  - option_name:  S3_SECRET
    value: s3-secret
  - option_name:  S3_KEY
    value: s3-key
  - option_name:  REDIS_HOST
    value: redis-host
  - option_name:  REDIS_PASS
    value: redis-pass
  - option_name:  REDIS_PORT
    value: 6379
  - option_name:  MAIL_DRIVER
    value: mail-driver
  - option_name:  MAIL_HOST
    value: email-smtp.eu-west-1.amazonaws.com
  - option_name:  MAIL_PORT
    value: 587
  - option_name:  MAIL_USER
    value: mail-user
  - option_name:  MAIL_PASS
    value: mail-pass
  - option_name:  MAIL_ENCRYPTION
    value: tls
