##############################################
#### magento crons ####
##############################################

files:
    "/tmp/magento_cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * webapp bash /var/app/current/cron.sh

container_commands:
    01_remove_crontab:
        command: "crontab -r || exit 0"
    02_add_crontab:
        command: "cat /tmp/magento_cron | crontab"
        leader_only: true
