##############################################
#### Magento files                        ####
##############################################
files:
  "/tmp/magento-config.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_CURRENT

      MAGENTO_LOCAL_CONF=/var/app/current/app/etc/local.xml
      MAGENTO_NAV_CONF=/var/app/current/lib/WsdlNav/magento_services

      if [ -f "$MAGENTO_LOCAL_CONF" ]
      then
      # replace variables in local.xml
        sed -i.bak s/{DB_HOST}/$DB_HOST/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{DB_NAME}/$DB_NAME/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{DB_USER}/$DB_USER/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{DB_PASS}/$DB_PASS/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{REDIS_HOST}/$REDIS_HOST/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{REDIS_PORT}/$REDIS_PORT/g $MAGENTO_LOCAL_CONF
        sed -i.bak s/{REDIS_PASS}/$REDIS_PASS/g $MAGENTO_LOCAL_CONF
      fi

      if [ -f "$MAGENTO_NAV_CONF" ]
      then
      # replace variables in magento_services for the nav integration
        sed -i s#{NAV_URL}#$NAV_URL#g $MAGENTO_NAV_CONF
      fi