##############################################
#### Magento default env options          ####
##############################################

option_settings:
  - option_name:  DB_HOST
    value:
  - option_name:  DB_USER
    value:
  - option_name:  DB_PASS
    value:
  - option_name:  DB_NAME
    value:
