##############################################
#### Magento logs                        ####
##############################################
files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/magento.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/var/log/*.log
      /var/app/current/var/log/xmlconnector/*.log
      /var/app/current/var/log/stockchange/*.log
      /var/app/current/var/log/tmp/*.log
      /var/log/amazon/ssm/*.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/magento.conf":
     mode: "000755"
     owner: root
     group: root
     content: |
      /var/app/current/var/log/*.log
      /var/app/current/var/log/xmlconnector/*.log
      /var/app/current/var/log/stockchange/*.log
      /var/app/current/var/log/tmp/*.log
      /var/log/httpd/*_log
