{
   "Version": "2012-10-17",
   "Statement": [
     {
       "Sid": "Stmt1409855610000",
       "Effect": "Allow",
       "Action": [ "autoscaling:DescribeAutoScalingGroups" ],
       "Resource": [ "*" ]
     },
     {
       "Sid": "Stmt1409855649000",
       "Effect": "Allow",
       "Action": [ "ec2:DescribeTags" ],
       "Resource": [ "*" ]
     }
   ]
 }
